<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{label.title}">Title</title>
</head>
<body>

<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/login1?lang=en}">Login (English)</a>
     &nbsp;|&nbsp;
    <a th:href="@{/login1?lang=fr}">Login (Frensh)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/login1?lang=vi}">Login (Vietnamese)</a>
</div>
<form method="post" action="">
    <table>
        <tr>
            <td>
                <strong th:utext="#{label.userName}"/>
            </td>
            <td>
             <input name="userName"/>
            </td>
        </tr>
        <tr>
            <td>
                <strong th:utext="#{label.password}"/>
            </td>
            <td>
                <input name="password" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" th:value="#{label.submit}" />
            </td>
        </tr>
    </table>

</form>

</body>
</html>